{% extends 'SadbotVideoBundle::layout.html.twig' %}
{% trans_default_domain "VideoBundle" %}

{% block content -%}
    <h1>Video edit</h1>

    <a href="{{ path('_video') }}">
        Back to the list
    </a>

    {{ form(edit_form) }}

    {{ form(delete_form) }}

{% endblock %}
