{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Video edit</h1>

    <a href="{{ path('_video') }}">
        Back to the list
    </a>

    {{ form(edit_form) }}

    {{ form(delete_form) }}

{% endblock %}
