{% extends 'SadbotVideoBundle::layout.html.twig' %}

{% block bg %}
    <img src="{{ asset('bg.jpg') }}" class="bg" alt="bg">
{% endblock %}

{% block body %}
    <h1 class="maintext">Медиахостинг</h1>
{% endblock %}