<ul>
    <li class="current first">
        <a href="#route_to/_homepage">Home</a>
    </li>
    <li class="current_ancestor">

        <ul class="menu_level_1">
            <li class="current first last">
                <a href="#route_to/fos_user_profile_edit">Edit profile</a>
            </li>
        </ul>
    </li>
</ul>